unnamed*
*.aux
*.bbl
*.blg
*.fls
*.out
*.synctex.gz
*.fdb_latexmk
*.log
*.csv
*.snm
*.nav
*.txt
*.bcf
*.pyg
*.xml
*.zip
*.diff
*.png

*[0-9]

# figures
*.eps
*-eps-converted-to.pdf
*.jpg

*_cache/
*cache__/
build/

*.plist

.DS_Store

*.pyc
projenv/


*_temp*

# specific
2021-*

*.sh.[eo][0-9]*

*_2022[0-9][0-9][0-9][0-9]*

.tmp_data/

# VS code
launch.json
settings.json
.history/

gpytools.egg-info/PKG-INFO
.DS_Store
